header {
  display: flex;
  background-color: #fffefb;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 3rem;
  font-size: 30px;
  font-style: inherit;
  color: #00668c;
}

#refresh_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #f5f4f1;
  width: 100vw;
  height: 80vh;
}

section {
  display: flex;
  justify-content: space-evenly;
}

/* 하단부 copyright */
footer {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  padding: 0 1rem 1rem 0;
}

/* 검색헤더 */
.movieHeader {
  display: flex;
  background-color: #313d44;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 3rem;
}

/* 영화 검색란 */
#searchMovie {
  display: flex;
  width: 300px;
  height: 2rem;
  justify-content: center;
  align-items: center;
}

/* 영화가 들어갈 메인 구역 */
#movieContainer {
  width: 2000px;
}

.moviebox {
  display: flex;
  flex-wrap: wrap;
  width: 2000px;
  justify-content: space-around;
}

/* 카드 메인 틀 */
.postbox {
  background-color: #b6ccd8;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 600px;
  height: 550px;
  margin: 50px 10px 50px 10px;
  padding: 10px 15px 10px 15px;
  border-radius: 25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
}

/* 카드 전체 크기 */
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 600px;
  height: 450px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* 영화사진 */
.movieImage {
  display: flex;
  width: 350px;
  height: 450px;
  border-radius: 15px;
}

/* 영화 박스 글자부분 */
.postBody {
  display: flex;
  flex-direction: column;
  width: 350;
  height: 400;
  padding: 10px;
}

/* 영화 제목 */

.movieName {
  display: flex;
  font-size: larger;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

/* 영화 요약 */
.movieContents {
  display: flex;
  font-size: large;
  line-height: 1.6rem;
  padding: 1rem 0 1rem 0;
}

/* 평점 */

.movieValues {
  display: inline-flex;
  font-size: 1.5rem;
  justify-content: end;
  padding-top: 2rem;
}

/* 개봉일자 */
.releaseDate {
  display: inline-flex;
  justify-content: end;
  padding: 1rem 0 1rem 0;
}
